# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
venv/
backend/venv/

# Environment Variables
.env
backend/.env

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log
backend/uploads/
